body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

select#commit-type {
  margin-top: 30px;
  margin-bottom: 10px;
}

textarea#commit-input {
  margin-bottom: 15px;
}

button#commit-button {
  margin-bottom: 15px;
}
